.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.card-container {
  max-width: 100%;
  background-color: #f4e4bc;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 3px solid #8b7500;
  display: flex;
  flex-direction: column;
  min-height: 875px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #8b7500;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.card-title {
  color: #5c3317;
  font-family: "Fondamento", serif;
  text-align: center;
  margin: 10px 0 5px;
  font-size: 1.5rem;
}

.card-subtitle {
  color: #5c3317;
  font-family: "Fondamento", serif;
  text-align: center;
  margin: 5px 0;
  font-size: 1.2rem;
}

.card-text {
  color: #5c3317;
  font-family: "Fondamento", serif;
  text-align: center;
  margin: 5px 0;
  font-size: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}