.left-image {
  width: 300px;
  height: 300px;
  background-image: url('/static/images/Menu/Guards Laughing.jpg');
  background-size: cover;
  background-position: center;
  border: 3px solid #8b7500;
  box-shadow: 0 0 0 2px #000;
  position: absolute;
  left: 40px;
  top: 100px;
  transition: transform 0.3s ease;
}

.right-image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 3px solid #8b7500;
  box-shadow: 0 0 0 2px #000;
  position: absolute;
  right: 40px;
  top: 100px;
  transition: transform 0.3s ease;
}

.left-image-roll {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 3px solid #8b7500;
  box-shadow: 0 0 0 2px #000;
  position: absolute;
  left: 30px;
  top: 100px;
  transition: transform 0.3s ease;
}

.right-image-roll {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 3px solid #8b7500;
  box-shadow: 0 0 0 2px #000;
  position: absolute;
  right: 30px;
  top: 100px;
  transition: transform 0.3s ease;
}

.right-image:hover {
  transform: scale(1.05);
}

.left-image:hover {
  transform: scale(1.05);
}

.right-image-roll:hover {
  transform: scale(1.05);
}

.left-image-roll:hover {
  transform: scale(1.05);
} 

.guard-def-plan {
    background-image: url('/static/images/Menu/Guards Defense Plan.jpg');
}

.thieves-atk-plan {
    background-image: url('/static/images/Menu/Thieves Attack Plan.jpg');
}

.guards-success {
    background-image: url('/static/images/Menu/Guards Celebrate.jpg');
}

.guards-fail {
    background-image: url('/static/images/Menu/Guards Screaming.jpg');
}

.thieves-success {
    background-image: url('/static/images/Menu/Thieves Celebrate.jpg');
}

.thieves-fail {
    background-image: url('/static/images/Menu/Thieves Screaming.jpg');
}

.roll-high {
    color: green;
    font-size: 3.8rem;
    font-weight: bold;
}

.roll-low {
    color: red;
    font-size: 3.8rem;
    font-weight: bold;
}

.roll-neutral {
    color: #d4af37;
    font-size: 3.8rem;
    font-weight: bold;
}