<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Guard's Turn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guard_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countdown-scroll.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
</head>
<body>
    <div class="castle-top"></div>
    <h1>The Kingdom's Drawn Cards!</h1>
    <h2 class="tutorial">Now that we know how to see the real meanings behind these cards,<br> let us assume we have read about Snake Oil Salesman</h2>
    <h2 class="tutorial">Click on the Snake Oil Salesman card to begin scamming random guards on the street 😈😈</h2>
    <div class="card-grid">
            <a href="{{ url_for('tutorial_page', page_num=12) }}">
                <button type="submit" name="number" class="transparent-button">
                    <div class="card-container">
                        <img src="/static/images/Thieves/Snake Oil Salesman.jpg" alt="Card Image" class="card-image">
                        <div class="card-content">
                            <h2 class="card-title">Snake Oil Salesman</h2>
                            <h3 class="card-text">Cost: 5 Gold <br><br>
                                    You masquerade as a snake oil salesmen and sell fake medicine to unsuspecting guards <br><br>
                                    If you succeed, <br><br>
                                        The guard drinks and faints, they steal his official clothes and armour, leaving him with similar-looking faulty armour <br><br>
                                        You now have access to the castle <br><br>
                                        Weakness registered <br><br><br>
                                    Real life equivalent - Mass Phishing 
                            </h3>
                        </div>
                    </div>
                </button>
            </a>
            <button type="submit" name="number" class="transparent-button">
                <div class="card-container">
                    <img src="/static/images/Thieves/Alehouse Swindler.jpg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Alehouse Swindler</h2>
                        <h3 class="card-text">Cost: 8 Gold <br><br>
                            You perform reconnaissance of the people in the kingdom and note an important nobleman <br><br>
                            You strike a friendship with the nobleman at the Alehouse <br><br>
                            If you succeed, <br><br>
                                One night you get the nobleman incredibly drunk, and steal his important keys and insignia <br><br>
                                You now have access to the castle <br><br>
                                Weakness registered <br><br><br>
                            Real life equivalent - Spear Phishing
                        </h3>
                    </div>
                </div>
            </button>
            <button type="submit" name="number" class="transparent-button">
                <div class="card-container">
                    <img src="/static/images/Guards/Ink Purification Ritual.jpg" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Ink Purification Ritual</h2>
                        <h3 class="card-text">Cost: 20 Gold <br><br>
                            Maintenance: 10 Gold <br><br>
                            Magical cleansing <br><br>
                            Scribes cleanse the scrolls of any hidden curses or malicious symbols that could corrupt the records <br><br>
                            Real life equivalent - Input Sanitisation
                        </h3>
                    </div>
                </div>
            </button>    
    </div> 
    
    <div class="menu-buttons-end-of-pg">
        <button class="shield-btn">Draw Card</button>
        <button class="shield-btn">See Real Life Explanations</button>
        <button class="shield-btn">See Card Countdown</button>
    </div>
</body>
</html>