<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Wards and Firewalls</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/scroll.css">
    <link rel="stylesheet" href="static/css/images.css">
    <link rel="stylesheet" href="static/css/countdown-scroll.css">
    <link rel="stylesheet" href="static/css/tutorial.css">
</head>
<body>
    <div class="castle-top"></div>
    <div class="content-wrapper" style="margin-top: 40px;">
        <div class="side-image scroll-position guard-upgrade-flop" style="margin-top: 500px;"></div>
        <div class="side-image scroll-position thief-celebrate-flop" style="margin-top: 500px;"></div>
        <h2 class="tutorial">Oops, you missed the mark, and the upgrade</h2>
        <h2 class="tutorial">But that is how you learn!<br>That is how you keep your organisation safe</h2>
        <h2 class="tutorial">Your turn is now complete</h2>
        <h1 class="roll-low">You'll Get it Next Time!</h1>         
        <h1>Too bad....</h1>
        <div style="margin-bottom: 25px;"></div>
        <div class="scroll-container">
            <div class="scroll-content">
                <h3>The right answer is</h3>
                <h2>Lock the screen or log out</h2>
                <h3>Locking prevents unauthorised access when you are away</h3><br>
                <h2>The Noblemen and guards were too complacent with their training</h2>
                <h2>They remember nothing</h2>                        
            </div>
        </div>
        <h2 class="tutorial">It is almost the same set of steps for thieves</h2>
        <h2 class="tutorial">But they must roll a D20 die to execute an attack</h2>
        <h2 class="tutorial">Let's take a look now</h2>

        
        <div style="position: absolute; right: 60px; top: 1150px;">
            <a href="{{ url_for('page11') }}"><button class="sword-btn">Thief's Turn</button></a>
        </div>
    </div>
</body>
</html>