<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Wards and Firewalls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scroll.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countdown-scroll.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-medieval.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">

</head>
<body>
    <div class="castle-top"></div>
    <div class="content-wrapper" style="margin-top: 40px;">
        <div class="side-image scroll-position mcq-guard-defense" style="margin-top: 270px;"></div>
        <div class="side-image scroll-position mcq-thieves-attack" style="margin-top: 270px;"></div>
        <h1>Snake Oil Salesman has been Played!</h1>

        
            <div style="margin-bottom: 25px;"></div>
            <h2 class="tutorial">Now, you must answer a question to successfully execute this attack</h2>
            <h2 class="tutorial">Select the 4th option for this to successfully execute this attack</h2>
            <div class="scroll-container">
                <div class="scroll-content">
                    <form id="myForm" action="/page/15" class="medieval-form" method="POST">
                        <h2>What makes spear phishing more effective than mass phishing?</h2><br>
                        
                        <h3><input type="radio" name="answer" value="Minimise all windows" id="0">
                        <label for="0">Cheaper</label></h3>
                        
                        <h3><input type="radio" name="answer" value="Leave it open if you are quick" id="1">
                        <label for="1">Involves humour</label></h3>
                        
                        <h3><input type="radio" name="answer" value="Turn off the monitor" id="2">
                        <label for="2">Goes viral easily</label></h3>
                        
                        <h3><input type="radio" name="answer" value="Lock the screen or log out" id="3">
                        <label for="3">Customised to the target's details</label></h3>  

                        <div id="specificOptionError" style="color: red; display: none; margin-top: 5px; font-size: 25px;">Please select option 4</div>
                        <button type="submit" class="shield-btn">Answer the Question</button>
                    </form>                      
                </div>
            </div>
            
    </div>
    <script>
        document.getElementById('myForm').addEventListener('submit', function(event) {
        const fourthRadioButton = document.getElementById('3');

        const errorDiv = document.getElementById('specificOptionError');

        if (!fourthRadioButton.checked) {
            event.preventDefault(); 
            errorDiv.style.display = 'block'; 
        } else {
            errorDiv.style.display = 'none'; 
        }
    });
    </script>
</body>
</html>