<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Guard's Turn</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/guard_menu.css">
    <link rel="stylesheet" href="static/css/countdown-scroll.css">
</head>
<body>
    <div class="castle-top"></div>
    <h1>Guild's Attacks on Cooldown</h1>
    
    <div class="countdown-scroll">
        {% if empty_message %}
            <h2 class="empty-message">{{ empty_message }}</h2>
        {% else %}
            {% for card, turn in data %}
                <h2 class="countdown-item">{{ card }}: {{ turn }} turn(s)</h2>
            {% endfor %}
        {% endif %}
        <h2 class="countdown-item">Discovered Weaknesses: {{ weaknesses }}</h2>
        <h2 class="countdown-item">Has access to the Castle? : {{ access }}</h2>
        
    </div>
    
    <div class="menu-buttons-end-of-pg">
        <a href="{{ url_for('thief_draws') }}"><button class="sword-btn">Draw Card</button></a>
        <a href="{{ url_for('thief_plays') }}"><button class="sword-btn">Play Card</button></a>
        <a href="{{ url_for('thief_card_explanation') }}"><button class="sword-btn">See Real Life Explanations</button></a>
    </div>
</body>
</html>