<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Wards and Firewalls</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/scroll.css">
    <link rel="stylesheet" href="static/css/game-over.css">
    <link rel="stylesheet" href="static/css/images.css">
    
</head>
<body>
    <div class="castle-top"></div>
    <div class="content-wrapper" style="position: relative;">
        <h1>Game Over</h1>
        <h1 class="roll-high">The Thieves Guild has Disbanded..</h1>
        <br>
        <div class="image-container">
            <div class="game-over-image-left tl"></div>
            <div class="game-over-image-cent gw"></div>
        </div>
        <div style="margin-bottom: 25px;"></div>
        <div style="position: absolute; right: 80px; top: 420px;">
            <a href="{{ url_for('home') }}"><button class="shield-btn game-over-btn">Start a New Game</button></a>
        </div>
    </div>
</body>
</html>
</body>
</html>